/* 
    Document   : trakstok
    Created on : Apr 17, 2013, 3:18:58 PM
    Author     : Rajmahendra Hegde <rajmahendra@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

